/* main page */

:root {
    --primary-color: black;
    --secondary-color: white;
}

@font-face {
	font-family: 'gotham';
	src: url('../assets/Gotham-Black.otf');
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #221F20; */
    background-color: var(--secondary-color);
}

#main-content {
    display: flex;
}

#left-pane, #middle-pane, #right-pane {
    width: calc(100vw / 3);
    height: 100vh;
}

.user-wrapper {
    /* background-color: red; */
    display: flex;
    margin: 2vh;
}

.profile-img {
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
    box-sizing: border-box;
    border: .5vh solid var(--primary-color);
}

.username {
    font-size: 5vh;
    line-height: 7vh;
    font-family: gotham;
    margin-left: 2vh;
    color: var(--primary-color);
}

#left-pane {
    border-right: 1vh solid var(--primary-color);
    box-sizing: border-box;
}

#right-pane {
    border-left: 1vh solid var(--primary-color);
    box-sizing: border-box;
}

#compatabiltiy {
    width: 32vw;
    height: 30vh;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: gotham;
    font-size: 20vh;
    line-height: 30vh;
    text-align: center;
    margin: 1vh;
    box-sizing: border-box;
    position: relative;
}

#compatabiltiy span {
    font-size: 5vh;
}

#compat-label {
    font-size: 4vh;
    font-family: gotham;
    text-align: center;
    color: var(--secondary-color);
    position: absolute;
    top: -12vh;
    left: 1.5vh
}

.top-songs {
    font-family: gotham;
    color: var(--secondary-color);
    font-size: 4vh;
    background-color: var(--primary-color);
    padding: 1vh;
    text-align: center;
    display: inline-block;
    margin-left: calc(100vw / 6);
    transform: translate(-50%);
    margin-bottom: 1vh;
}

.top-song {
    margin: 1vh;
    font-family: gotham;
    font-size: 3vh;
    display: flex;
}

.top-genre {
    font-family: gotham;
    color: var(--secondary-color);
    font-size: 4vh;
    background-color: var(--primary-color);
    padding: 1vh;
    text-align: center;
    display: inline-block;
    margin-left: calc(100vw / 6);
    transform: translate(-50%);
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.genre {
    margin: 1vh;
    border: .75vh solid var(--primary-color);
    box-sizing: border-box;
    font-family: gotham;
    color: var(--primary-color);
    font-size: 4vh;
    text-align: center;
    text-transform: uppercase;
    padding: 2vh 1vh 2vh 1vh;
    background: repeating-linear-gradient(
        -45deg,
        var(--primary-color),
        var(--primary-color) 1vh,
        var(--secondary-color) 1vh,
        var(--secondary-color) 2vh
    );
}

.genre span {
    background-color: var(--secondary-color);
    padding: 0 1vh 0 1vh;
}

.top-song .number {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1vh;
    min-width: 4vh;
    height: 4vh;
    text-align: center;
    line-height: 4vh;
}

.top-song .song-name {
    padding: 1vh;
    line-height: 4vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: var(--primary-color);
    cursor: pointer;
}

#generate-button {
    font-size: 4vh;
    font-family: gotham;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1vh solid var(--primary-color);
    margin: 1vh;
    padding: 1vh;
    user-select: none;
    cursor: pointer;
}

/* credits */

#credits {
    position: absolute;
    bottom: .5vh;

}

.preview-pl {
    font-family: gotham;
    color: var(--secondary-color);
    font-size: 4vh;
    background-color: var(--primary-color);
    padding: 1vh;
    text-align: center;
    display: inline-block;
    margin-left: calc(100vw / 6);
    transform: translate(-50%);
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.preview-row {
    margin: 1vh;
    display: flex;
}

.preview-row img {
    width: calc(100% / 3);
    border: 1vh solid var(--primary-color);;
}

.preview-row img:nth-child(2) {
    margin-left: 1vh;
    margin-right: 1vh;
}

@keyframes radiate {
    from {
        box-shadow: 0 0 0 0 black;
    }
    to {
        box-shadow: 0 0 0 5vh rgba(0,0,0,0);
    }
}

#credits {
    font-family: gotham;
    font-size: 2vh;
    position: absolute;
    bottom: 1vh;
    left: 50vw;
    transform: translate(-50%);
    color: var(--primary-color);
}

/* login page */

#login-title {
    font-family: gotham;
    font-size: 5vh;
    color: #D5F478;
    width: 100vw;
    text-align: center;
    margin-top: 10vh;
}

#img-wrapper {
    margin-left: 50vw;
    transform: translate(-50%);
    width: 40vh;
    height: 7vh;
    margin-top: 20vh;
    cursor: pointer;
    display: inline-block;
    border-radius: 7vh;
    animation: 1.5s ease 1s infinite radiate;
    user-select: none;
}

#login-img {
    width: 100%;
}

#login-main {
    background-color: #221F20;
}