<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicMash</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js"></script>
</head>

<body>
    <div id="main-content">

        <!-- left pane -->
        <div id="left-pane">

            <!-- user info -->
            <div id="left-user-wrapper" class="user-wrapper">
                <img class="profile-img" src="{{ data['usr_img'][0] }}">
                <div class="username">{{ data['name'][0] }}</div>
            </div>

            <!-- main stats -->
            <div class="main-stats">
                <div class="top-songs"># Top Songs</div>

                {% for num, track in data['top_tracks'][0] %}
                <div class="top-song">
                    <div class="number">{{ num }}</div>
                    <div class="song-name" onclick="window.open('{{ track.url }}', '_blank')">{{ track.name }}</div>
                </div>
                    {% endfor %}

                <div class="top-genre"># Top Genre</div>
                <div class="genre">
                    <span>{{ data['top_genre'][0] }}</span>
                </div>

            </div>

            <!-- attributes -->
            <div class="attributes">
                <div class="progress" style="width: 50%"></div>
                <div class="tooltip">Acousticness</div>
            </div>

            <div class="attributes">
                <div class="progress" style="width: 50%"></div>
                <div class="tooltip">Dancability</div>
            </div>

            <div class="attributes">
                <div class="progress" style="width: 60%"></div>
                <div class="tooltip">Energy</div>
            </div>

            <div class="attributes">
                <div class="progress" style="width: 30%"></div>
                <div class="tooltip">Tempo</div>
            </div>

            <div class="attributes">
                <div class="progress" style="width: 70%"></div>
                <div class="tooltip">Positivity</div>
            </div>

        </div>

        <!-- middle pane -->
        <div id="middle-pane">

            <!-- compatability score -->
            <div id="compatabiltiy">
                <div id="compat-label">compatibility</div>
                {{ data['compatibility'] }}<span>%</span>
            </div>

            <!-- playlist preview -->
            <div class="preview-pl"># Playlist Preview</div>

            <div class="preview-row">
                {% for i in range(3) %}
                <img src="{{ data['track_art'][i] }}">
                {% endfor %}
{#                <img src="https://www.wired.com/images_blogs/underwire/2010/06/lps_14b.jpg">#}
{#                <img src="https://www.wired.com/images_blogs/underwire/2010/06/lps_1a.jpg">#}
{#                <img src="http://pm1.narvii.com/7078/b516f075d0508fd60dcc727d02f742a2056940a7r1-984-984v2_uhq.jpg">#}
            </div>

            <div class="preview-row">
                {% for i in range(3,6) %}
                <img src="{{ data['track_art'][i] }}">
                {% endfor %}
{#                <img src="https://www.wired.com/images_blogs/underwire/2010/06/lps_5a.jpg">#}
{#                <img src="https://www.wired.com/images_blogs/underwire/2010/06/lps_7b.jpg">#}
{#                <img src="https://www.wired.com/images_blogs/underwire/2010/06/lps_9a.jpg">#}
            </div>

            <!-- generate playlist -->

            <div id="generate-button">GENERATE PLAYLIST</div>

        </div>

        <!-- right pane -->
        <div id="right-pane">
            <div id="right-user-wrapper" class="user-wrapper">

                <!-- user info -->
                <img class="profile-img" src="{{ data['usr_img'][1] }}">
                <div class="username">{{ data['name'][1] }}</div>            </div>

                <!-- main stats -->
                <div class="main-stats">
                <div class="top-songs"># Top Songs</div>
                {% for num, track in data['top_tracks'][1] %}
                <div class="top-song">
                    <div class="number">{{ num }}</div>
                    <div class="song-name">{{ track.name }}</div>
                </div>
                {% endfor %}

                <!-- attributes -->
                <div class="top-genre"># Top Genre</div>
                <div class="genre">
                    <span>{{ data['top_genre'][1] }}</span>
                </div>

                <div class="attributes">
                    <div class="progress" style="width: 10%"></div>
                    <div class="tooltip">Acousticness</div>
                </div>

                <div class="attributes">
                    <div class="progress" style="width: 90%"></div>
                    <div class="tooltip">Dancability</div>
                </div>

                <div class="attributes">
                    <div class="progress" style="width: 30%"></div>
                    <div class="tooltip">Energy</div>
                </div>

                <div class="attributes">
                    <div class="progress" style="width: 50%"></div>
                    <div class="tooltip">Tempo</div>
                </div>

                <div class="attributes">
                    <div class="progress" style="width: 20%"></div>
                    <div class="tooltip">Positivity</div>
                </div>

            </div>
        </div>

    </div>

    <div id="credits">Team Hackers & Shaggers</div>
</body>

</html>
