<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js"></script>
</head>

<body>
    <div id="main-content">

        <div id="left-pane">
            <div id="left-username">Harvey Ayling</div>
        </div>

        <div id="right-pane">
            <div id="right-username">Jem Clift</div>
        </div>

        <div id="compat-meter">
            <div id="progress-bar" style="height: 40%">
                <div>60%</div>
            </div>
        </div>

    </div>

    <div id="credits">Josh, Matt, Harvey, Jem</div>
</body>

</html>